/* Sidebar item styles */
.sidebar-item {
    @apply
    h-10
    w-full 
    rounded-md 
    flex
    items-center 
    overflow-hidden 
    transition-all;
}
.light .sidebar-item:hover {
    @apply
    bg-gray-200
    bg-opacity-50;
}
.light .sidebar-item:active {
    @apply
    bg-gray-400;
}
.dark .sidebar-item:hover {
    @apply
    bg-gray-900
    bg-opacity-50;
}
.dark .sidebar-item:active {
    @apply
    bg-gray-900;
}
.sidebar-item.active {
    @apply
    bg-carolina 
    text-white 
    pointer-events-none 
    shadow;
}
.sidebar-item-icon {
    @apply
    h-10 
    w-10 
    mr-2
    my-1 
    flex 
    items-center 
    justify-center 
    flex-shrink-0 
    text-current
    ;
}
.sidebar-item:hover .sidebar-item-icon {
    @apply 
    text-carolina;
}
.sidebar-item.active .sidebar-item-icon {
    @apply 
    text-white;
}
/* Sidebar tooltip styles */
.sidebar-tooltip {
    @apply
    fixed
    z-50
    ml-12
    h-10
    rounded
    flex
    items-center
    font-normal
    overflow-hidden
    transition-all
    px-0
    w-0
    opacity-0
    shadow
    ;
}
.sidebar-tooltip p {
    @apply
    whitespace-nowrap;
}
.sidebar.closed .sidebar-item-wrapper:hover .sidebar-tooltip {
    @apply
    w-max
    px-3
    opacity-100;
}
.light .sidebar-tooltip {
    @apply
    bg-white;
}
.dark .sidebar-tooltip {
    @apply
    bg-gray-700;
}