/* Sidebar styles */
.sidebar {
    @apply
    flex-shrink-0
    transition-all
    overflow-hidden
    p-5
    pt-10
    border-r;
}
.sidebar.open {
    /* @apply
    w-72;    */
    /* 18 rem */
    /* width: 18rem; */
    width: var(--sidebar-open-w);
}
.sidebar.closed {
    /* @apply
    w-20;    */
    /* 5 rem */
    /* width: 5rem; */
    width: var(--sidebar-closed-w);
}
.light .sidebar {
    @apply
    border-gray-100;
}
.dark .sidebar {
    @apply
    border-gray-900;
}

/* Sidebar logo styles */
.sidebar-logo {
    @apply
    mb-10
    w-full 
    flex 
    items-center 
    justify-start 
    h-10;
}
.sidebar-logo .sidebar-logo-type {
    @apply
    overflow-hidden;
}
.sidebar-logo .sidebar-logo-type img {
    @apply
    h-7
    ml-2
    flex-shrink-0;
}
.dark .sidebar-logo-type img {
    filter: brightness(900);
}

/* Sidebar toggle button styles */
.toggle-button {
    @apply
    h-10
    w-10
    flex
    items-center
    justify-center
    flex-shrink-0
    group
    rounded-md
    text-carolina
}
.light .toggle-button:hover {
    @apply
    bg-gray-200
    bg-opacity-50;
}
.light .toggle-button:active {
    @apply
    bg-gray-400
    bg-opacity-50;
}
.dark .toggle-button:hover {
    @apply
    bg-gray-900
    bg-opacity-50;
}
.dark .toggle-button:active {
    @apply
    bg-gray-900;
}
.toggle-button img {
    @apply
    absolute
    h-7
    w-7
    transition-opacity
    opacity-100;
}
.toggle-button:hover img {
    @apply
    opacity-0;
}
.toggle-button .chevron {
    @apply 
    absolute
    transform
    transition-opacity
    opacity-0;
}
.toggle-button:hover .chevron {
    @apply
    opacity-100;
}
.sidebar.open .chevron {
    @apply
    rotate-180;
}
.sidebar.closed .chevron {
    @apply
    rotate-0;
}
